/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.has-sidebar .site {
	grid-template-areas: "header" "content" "footer";
}

.has-sidebar .all-content {
	grid-area: content;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "main" "sidebar";
}

.primary-sidebar {
	padding: 1.5rem;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	max-width: var(--content-width);
	grid-area: "sidebar";
	align-self: center;
	justify-self: center;
}

@media (--medium-devices) {

	.has-sidebar .all-content {
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "main sidebar";
	}

}
